          #mon-portfolio-intro{
              text-align: center;
          }
          hr.solid {
              border-top: 3px solid #bbb;
          }
          body{
          background: rgb(0,36,7);
          background: linear-gradient(90deg, rgba(0,36,7,1) 0%, rgba(117,232,155,1) 50%, rgba(14,69,63,1) 100%);
        }
