      #mon-portfolio-intro{
        text-align: center;
      }
      hr.solid {
        border-top: 3px solid #bbb;
      }
      #mes-projets{
        font-size:20px ;
      }
      
      body {
	background: linear-gradient(-45deg, #ee3800, #e73c7e, #fc0075, #ffd5ab);
	background-size: 400% 400%;
	animation: gradient 5s linear infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
